.Corpo{

    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;

    background-image: url('../../background.jpg');
    background-size: cover;

    height: 100vh;
    width: 100vw;
    overflow: hidden;

}

.Centro{

    display: inline;

    height: 0px;
    width: 0px;
    overflow: visible;

}


.bola {

    position: absolute;
    border-radius: 50%;
    filter: brightness(150%);
    background: radial-gradient(circle,#cacaca  0%,#b09500  70%, #000 100%);

    animation: pulsa 800ms linear infinite, expande 100ms linear both;

    cursor: pointer;
    transition: 0.15s;

    display: flex;
    justify-content: center;
    align-items: center;
    
}

.bolagirando {

    left:35vw;
    transform-origin:15vw;
    position: absolute;

    overflow: visible;
    max-width: 100px;
    max-width: 100px;

    border-radius: 50%;
    filter: brightness(150%);
    background: radial-gradient(circle,#cacaca  0%,#b09500  70%, #000 100%);

    animation: roda 10s linear infinite, pulsa 800ms linear infinite, expande 100ms linear both;
    cursor: pointer;

    transition: 0.15s;

    z-index: 2;

}

.bolagirando:hover, .bola:hover {
    filter: brightness(200%);
}

.explode {

    position: absolute;
    left: 50%;
    top:50%;
    transform: translate(-50%, -50%);
    
    width: 40px;
    height: 40px;
    opacity: 0;
    border-radius: 50%;
    border: 20px solid;
    border-color: #ffd900b9;
    filter: brightness(150%);
    background: #00000000;
    animation: explosao .75s linear;

    z-index: 1;

}

@keyframes roda {

    from{
        transform: rotate(0deg);
    }
    to{
        transform: rotate(360deg);
    }

}

@keyframes pulsa {
    0% {
      box-shadow: 0 0 10px #ffd900;
    }
    50% {
      box-shadow: 0 0 20px #ffd900;
    }
    100% {
      box-shadow: 0 0 10px #ffd900;
    }
  }

  @keyframes expande {

    from {
        height: 0px;
        width: 0px;
    }

    to{
        height: 100px;
        width: 100px;
    }

  }

  @keyframes explosao {
    from{
        opacity: 1;
    }

    to{
        width: 200vw;
        height: 250vh;
    }

  }
  

  .internoBola {


    position: relative;
    left: 30%;
    top: 33%;
    transform-origin: 21% 40%;

    height: 40;
    width: 40;

    animation: rodaIcone 10s linear infinite;

  }

  @keyframes rodaIcone {

    from{
        transform: rotate(360deg);
    }
    to{
        transform: rotate(0deg);
    }

}


.pretoBranco {

    position: absolute;

    height: 100vh;
    width: 100vw;
    background-color: #375b40ad;

    animation: aumenta .1s linear;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}


@keyframes aumenta {

    from{
        height: 0;
        width: 0;
    }
    to{
        height: 85vh;
        width: 100vw;
    }

}


.tituloEsfera {

    color: white;
    font-size: 7vh;
    font-family: Arial;
    text-shadow: 0 0 5px yellow;

    margin-bottom: 5vh;

    user-select: none;

}

.descricaoEsfera {

    color: white;
    font-size: 3vh;
    font-family: Arial;
    text-shadow: 0 0 5px lightblue;
    text-align: justify;

    max-width: 20vw;
    margin-bottom: 10vh;

    user-select: none;

}

.historico {

    color: white;
    font-size: 3vh;
    font-family: Arial;
    text-shadow: 0 0 5px yellow;


    display: flex;

    cursor: pointer;


}
.historico:hover {

    filter: brightness(150%);

}

.bolinha {

    border-radius: 50%;
    filter: brightness(150%);
    background: radial-gradient(circle,#cacaca  0%,#b09500  70%, #000 100%);
    height: 3vh;
    width: 3vh;

    margin-right: .5vw;

}

.historicoContainer {

    display: flex;
    flex-direction: column;

    position: absolute;
    top: 0;
    right: 0;
    margin-top: 2vh;
    margin-right: 2vw;

}